<!DOCTYPE html>
<html lang="en">
<head>
	<title>TatRec - Don't be a Dink, Get the Right Ink</title>
	<meta charset="UTF-8">
	<meta name="description" content="TatRec - Tattoo Recommendation Engine">
	<meta name="keywords" content="tattoo, recommendation, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="../static/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../static/css/style.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- header section start -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-3">
					<div class="logo">
						<h2 class="site-logo">TatRec</h2>
					</div>
				</div>
				<div class="col-lg-8 col-md-9">
					<nav class="main-menu">
						<ul>
							<li><a href="{{ url_for('home') }}">Home</a></li>
							<li><a href="{{ url_for('about') }}">About</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
	</header>
	<!-- header section end -->

	<!-- intro section start -->
	<section class="intro-section">
		<div class="container text-center">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="title-about">I’m a <span>data scientist</span> and <span>biomedical engineer</span>, with 8+ years of experience</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- intro section end -->


	<!-- page section start -->
	<section class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<p> I graduated with a Ph.D. in Biomedical Engineering from the University of Melbourne working on developing computational models of music and speech perception for normal hearing and hearing impaired individuals that suggested better algorithms to use in cochlear implants. I am currently doing the Insight Data Science program in Toronto developing a tattoo artist recommendation engine called TatRec. I am looking to transition into industry to tackle new and exciting problems with data.  </p>
<p>Checkout the code of this project at Github: <a href="https://github.com/JSpenced/tatrec/">TatRec Github</a></p

				</div>
			</div>
		</div>
	</section>
	<!-- page section end -->

	<!-- footer section start -->
	<footer class="footer-section text-center">
		<div class="container">
			<a href="mailto:jeffspencerd@gmail.com" class="site-btn">Get in touch</a>
			<div class="social-links">
				<a href="https://www.linkedin.com/in/jdspen/"><span class="fa fa-linkedin"></span></a>
				<a href="https://github.com/JSpenced/"><span class="fa fa-github"></span></a>
			</div>
			<div class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
</div>
		</div>
	</footer>
	<!-- footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js/jquery-2.1.4.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/mixitup.min.js"></script>
	<script src="../static/js/magnific-popup.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>
